// Html
//*********************************************************************
body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

ul
	padding 0px
	margin 0px
	list-style none

	li
		padding 0px
		margin 0px

a
	color: #00B7FF



// Layout
//*********************************************************************
.wrapper
	max-width 960px
	margin 0 auto

#top-navigation
	li
		float left
		margin-right 10px

.clear
	clear both