doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.wrapper
			header
				h1 Header
			block content
		script(scr='/js/jquery.min.js')